
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #0d2671;
            color: #fff;
            padding: 1em;
            text-align: center;
        }

        nav {
            background-color: #4582df;
            color: #fff;
            padding: 1em;
            text-align: center;
        }
        nav a{
            color:yellow;
        text-decoration: none;
        font-weight: bolder;
        }

        section {
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .button {
            display: inline-block;
            padding: 10px 15px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            background-color: #4CAF50;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }

        .button.decline {
            background-color: #f44336;
        }
    